<div class="container">
<div class="form-group mt-3">
<%= form_for @service do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, :class => "form-control"  %>
    <%= f.label :price%>
    <%= f.text_field :price, :class => "form-control"%>
    <%= f.submit "Create New Service", :class => "btn btn-outline-info mt-3" %>
<% end %>
 </div>
 </div>