<div class="col-md-6">
    <div class="form-group mt-3">
        <%= form_for @dog do |f| %>
        <%= f.label :name, :class => "mt-3" %>
        <%= f.text_field :name, :autofocus => true, :class => "form-control" %>
        <%= f.label :breed, :class => "mt-3"%>
        <%= f.text_field :breed, :class => "form-control"%>
        <%= f.label :color, :class => "mt-3"%>
        <%= f.text_field :color, :class => "form-control"%>
        <%= f.label :sex, :class => "mt-3"%>
        <%= f.text_field :sex, :class => "form-control"%>
        <%= f.label :image, :class => "mt-3"%>
        <%= f.url_field :image, :class => "form-control"%>
        <%= f.submit "Update Dog", :class => "btn btn-outline-warning mt-5"%>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group mt-3">
        <%= f.label :flea, :class => "mt-3"%>
        <%= f.date_field :flea, :class => "form-control"%>
        <%= f.label :worm, :class => "mt-3"%>
        <%= f.date_field :flea, :class => "form-control"%>
        <div class="flex">
            <div class="display-inline">
                <%= f.label :vaccinations, :class => "mt-3"%>
                <%= f.collection_check_boxes(:vaccination_ids, Vaccination.all, :id, :name) do |b| %>
                <%= b.label(class:"display-inline-block") { b.check_box + b.text } %>
                <% end %>
            </div>
            <div class="display-inline">
                <%= f.label :services, :class => "mt-3"%>
                <%= f.collection_check_boxes(:service_ids, Service.all, :id, :name) do |b| %>
                <%= b.label(class:"display-inline-block") { b.check_box + b.text } %>
                <% end %>
            </div>
    </div>
        <%= f.label :owner, :class => "mt-3"%>
        <%= collection_select(:dog, :owner_id, Owner.all, :id, :name, :class => "form-control") %>
    
        <%= f.label :vet, :class => "mt-3"%>
        <%= collection_select(:dog, :vet_id, Vet.all, :id, :name, :class => "form-control") %>
        <% end %>
    </div>
</div>