
<div class="row">
    <% @dogs.each do |dog| %>
    <div class="col-md-4 mt-5">
        <%= link_to (image_tag dog.image, :class => "thumbnail mb-3"), dog_path(dog.id) %>
        <p>Name:  <%= link_to dog.name, dog_path(dog.id) %></p>
        <p>Breed: <%= dog.breed %></p>
        <p>Color:  <%= dog.color %></p>
        <p>Sex:  <%= dog.sex%></p>
    </div>
    <% end %>
</div>