<h1> <%= @dog.name %> </h1>
<%= image_tag @dog.image, :class => "feature" %>
<p><span class = "bold-text">Name:</span> <%= @dog.name %> </p>
<p><span class = "bold-text">Breed:</span> <%= @dog.breed %></p>
<p><span class = "bold-text">Color:</span> <%= @dog.color %></p>
<p><span class = "bold-text">Sex:</span> <%= @dog.sex%></p>
<p><span class = "bold-text">Vac_1:</span> <%= @dog.vac_1 %></p>
<p><span class = "bold-text">Vac_2:</span> <%= @dog.vac_2 %></p>
<p><span class = "bold-text">Flea Treatment:</span> <%= @dog.flea %></p>
<p><span class = "bold-text">Worm Treatment:</span> <%= @dog.worm %></p>
<p><span class = "bold-text">Owner:</span> <%= @dog.owner_id %></p>
<p><span class = "bold-text">Services:</span> <%= @dog.service_id %></p>
<p><span class = "bold-text">Vaccinations:</span> <%= @dog.vac_id %></p>
