
<h1 class = "mt-3">Sign In</h1>

<%= flash[:error] %>

<%= form_tag login_path do %>
<%= label_tag :email %>
<%= email_field_tag :email, nil, class:'form-control' %>

<%= label_tag :password %>
<%= password_field_tag :password, nil, class:'form-control'%>

<%= submit_tag "Sign In", class: 'btn btn-outline-success mt-3' %>

<% end%>
