<h1> <%= @vet.name %> </h1>

<p><span class = "bold-text">Phone:</span> <%= @vet.phone %> </p>
<p><span class = "bold-text">Address:</span> <%= @vet.address %> </p>
<p><span class = "bold-text">Dog_ID:</span> <%= @vet.dog_id %></p>
<p><span class = "bold-text">Vac_ID:</span> <%= @vet.vac_id %></p>