<div class="form-group mt-3">
<%= form_for @user do |f| %>
    <%= f.label :name, :class => "mt-3" %>
    <%= f.text_field :name, :autofocus => true , :class => "form-control"  , :class => "mt-3"%>
    <%= f.label :email, :class => "mt-3"%>
    <%= f.email_field :email, :class => "form-control"  , :class => "mt-3"%>
   <%= f.label :password, :class => "mt-3"%>
    <%= f.text_field :password_digest, :class => "form-control"  , :class => "mt-3"%>
    <%= f.submit %>
<% end %>
</div>