<div class="form-group mt-3">
<%= form_for @user do |f| %>
    <%= f.label :name, :class => "mt-3" %>
    <%= f.text_field :name, :autofocus => true, :class => "form-control"  %>
    <%= f.label :email, :class => "mt-3"%>
    <%= f.email_field :email, :class => "form-control"%>
    <%= f.label :password, :class => "mt-3"%>
    <%= f.text_field :password, :class => "form-control"%>
    <%= f.label :confirm_password, :class => "mt-3"%>
    <%= f.text_field :password_confirmation, :class => "form-control"%>
    <%= f.submit "Create New User", :class => "btn btn-outline-info mt-3" %>
<% end %>
 </div>