<h1 class="mt-3"> <%= @user.name %> </h1>


<table class="table mt-5">
 <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Admin Rights</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td scope="row"><%= @user.name %></td>
      <td scope="row"> <%= @user.email %></td>
      <td scope="row"><% if @user.admin == true %><%= "Yes" %><% else%><%= "No" %><% end%></td>
    </tr>

  </tbody>
</table>





<p class="lead">Actions</p>
<%= link_to "Back To User", users_path %>
<br />
<%= link_to "Edit User", edit_user_path(@user.id)%>
<br />
<%= link_to "Delete User", user_path(@user.id), :method => "delete" %>