<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Doggie_DayCare</title>
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= cloudinary_js_config %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

  <nav id="transparent-nav" class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if @current_user.present? %>
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dogs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <span class="dropdown-item"><%=link_to "Add New Dog", new_dog_path%></span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item"><%=link_to "View All Dogs", dogs_path%></span>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Owners
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <span class="dropdown-item"><%=link_to "Add New Owner", new_owner_path%></span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item"><%=link_to "View All Owners", owners_path%></span>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <span class="dropdown-item"><%=link_to "Add New Service", new_service_path%></span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item"><%=link_to "View All Services", services_path%></span>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Vets
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <span class="dropdown-item"><%=link_to "Add New Vet", new_vet_path%></span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item"><%=link_to "View All Vets", vets_path%></span>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Vaccinations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <span class="dropdown-item"><%=link_to "Add New Vaccination", new_vaccination_path%></span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item"><%=link_to "View All Vaccinatioins", vaccinations_path%></span>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <span class="dropdown-item"><%=link_to "Add New User", new_user_path%></span>
            <div class="dropdown-divider"></div>
            <span
              class="dropdown-item"><% if @current_user.present? %><% if @current_user.admin?%><%=link_to "View All Users", users_path%><% end %><% end %></span>
          </div>
        </li>
        <%end%>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <% if @current_user.present? %>
        <%= link_to "Sign Out #{ @current_user.name}", login_path, :method => "delete", :class => "btn btn-outline-secondary mr-2" %>
        <% else%>
        <%= link_to "Sign In", login_path, :class => "btn btn-outline-light mr-3" %>
        <%= link_to "SignUp", new_user_path, :class => "btn btn-outline-light mr-2" %>
        <% end %>
      </form>
    </div>
  </nav>
  <div class="test container-fluid justify-content-center">


    <%= yield %>

  </div>
</body>

</html>